@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'CooperHewitt';
    font-weight: 400;
    src: url(../fonts/sans/CooperHewitt-Book.otf) format("opentype");
  }
  @font-face {
    font-family: 'CooperHewitt';
    font-weight: 500;
    src: url(../fonts/sans/CooperHewitt-Medium.otf) format("opentype");
  }
  @font-face {
    font-family: 'lmroman';
    font-weight: 500;
    src: url(../fonts/serif/lmromandunh10-regular.otf) format("opentype");
  }

  @font-face {
    font-family: 'lm-demi';
    font-weight: 500;
    src: url(../fonts/serif/lmromandemi10-regular.otf) format("opentype");
  }
  
  @font-face {
    font-family: 'lm-caps';
    font-weight: 500;
    src: url(../fonts/serif/lmromancaps10-regular.otf) format("opentype");
  }
}

@layer components {  
  .banana {
    @apply inline-flex items-center
  }
}

.geometric-precision {
  text-rendering: geometricPrecision;
}


.layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
}

.frame-top, header, main, footer {
  grid-column: 1 / 1;
}

header {
  grid-row: 1 / 1;
}


.bg-texture {
  background-image: url(../img/bg-texture.jpg);
  background-repeat: repeat-y;
  background-size: co ver;
  background-position-y: top -10%;
}


.frame-top {
  grid-row: 1 / 1;
  background-image: url(../img/frame-top.svg);
  background-repeat: no-repeat;
  background-position-y: top;

}

main {
  grid-row: 2 / 2;
  background-image: url(../img/frame-border.svg);
  background-repeat: repeat;
  background-position-y: center;
}

footer {
  grid-row: 3 / 3;
  background-image: url(../img/frame-bottom.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100vw auto;
}



/*==================*/

.ornament-corner {
  background-image: url(../img/ornament-corner.svg);
  background-repeat: no-repeat;
}

.btn-ornaments:before,
.btn-ornaments:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1em;
  background-image: url(../img/ornament-line.svg);
  background-repeat: no-repeat;
}

.btn-ornaments:after {
  top: 0;
  transform: rotate(180deg);
}


.btn-ornaments:before {
  bottom: 0;
}