@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'CooperHewitt';
    font-weight: 400;
    src: url(../fonts/sans/CooperHewitt-Book.otf) format("opentype");
  }
  @font-face {
    font-family: 'CooperHewitt';
    font-weight: 500;
    src: url(../fonts/sans/CooperHewitt-Medium.otf) format("opentype");
  }
  @font-face {
    font-family: 'lmroman';
    font-weight: 500;
    src: url(../fonts/serif/lmromandunh10-regular.otf) format("opentype");
  }

  @font-face {
    font-family: 'lm-demi';
    font-weight: 500;
    src: url(../fonts/serif/lmromandemi10-regular.otf) format("opentype");
  }

  @font-face {
    font-family: 'lm-caps';
    font-weight: 500;
    src: url(../fonts/serif/lmromancaps10-regular.otf) format("opentype");
  }
}

@layer components {
  .banana {
    @apply inline-flex items-center
  }
}

:root {
  --primary: #755617;
}


.geometric-precision {
  text-rendering: geometricPrecision;
}


.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1170px;
  margin: 0 auto;
  padding: 5rem 1rem;
}

.bg-texture {
  background-image: url(../img/bg-texture.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.content-frame {
  flex: 1 1 auto;
  background-image: url(../img/frame-border.svg);
  background-repeat: repeat;
  background-position-y: center;
  margin: 0 1px; /* fine tune alignement */
}

footer {
}

/*==================*/

.ornament-corner {
  width: 100%;
  height: 100%;
  background-image: url(../img/ornament-corner.svg);
  background-repeat: no-repeat;
}



.btn-ornaments {
  position: relative;
  display: inline-block;
  @apply text-brown;
  @apply bg-brown-lighter;
}

.btn-ornaments:hover {
  @apply bg-brown-light;
}

.btn-ornaments:before,
.btn-ornaments:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 1.5rem;
  @apply bg-brown bg-opacity-90;
  -webkit-mask-image:url(../img/ornament-line.svg);
  mask-image:url(../img/ornament-line.svg);
  mask-repeat: no-repeat;
  mask-position: center;
}

.btn-ornaments:after {
  right: 0;
  transform: rotate(180deg);
}


.btn-ornaments:before {
  left: 0;
}


.btn-ornaments:hover:before,
.btn-ornaments:hover:after {
  @apply bg-brown;
}

.btn-ornaments-lg {
  position: relative;
  text-decoration: underline;
  transform-origin: center;
  transform-box: fill-box;
}

.btn-ornaments-lg:before {
  content: "";
  position: absolute;
  inset: 0;
  display: flex;
  @apply bg-brown bg-opacity-90;
  -webkit-mask-image:url(../img/ornament-line.svg);
  mask-image:url(../img/ornament-line.svg);
  mask-repeat: no-repeat;
  mask-position: center bottom;
  width: 100%;

  transform: rotate(90deg);
}